 <header>
 <a href="/" class="<%= currentPage === 'home' ? 'active' : '' %>">Home </a>
        <a href="/host/add-home" class=" <%= currentPage === 'add-home' ? 'active' : '' %>">Add Home</a>
    </header>